footer {

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
}

.footer {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;

  &__left {
    span {
      font-weight: 700;
    }

    &-top {
      display: flex;
      gap: 52px;
      margin: 33px 0 23px 0;

      a {
        font-weight: 700;
      }
    }

    &-middle {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: 7px 108px;

      a {
        font-weight: 600;
        opacity: 70%;
      }

      margin: 15px 0 45px 0;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;

      &-left {
        p {
          opacity: 80%;
          font-weight: 600;
          font-size: 14px;
        }

      }

      &-right {
        display: flex;
        gap: 23px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
    a {
      color: #F7D22D;
      font-size: 30px;
      font-weight: 700;
    }

    h5 {
      text-transform: uppercase;
      font-size: 14px;
    }

    button {
      color: #696F7A;
      background-color: #F3F3F7;
      border: none;
      border-radius: 28px;
      width: 180px;
      height: 42px;
      font-weight: 700;
    }
  }

  &__logo {
    position: absolute;
    bottom: -62px;
    right: -402px;
  }

  position: relative;
}

.social-networking {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;

  button {
    background: none;
    border: 2px solid #E3ECF5;
    border-radius: 13px;


    &:not(&:last-child) {
      width: 101px;
      height: 52px;
    }
  }
}

.write {
  grid-column: 3/5;
  width: 100%;
  font-weight: 700;
  font-size: 13px;
}